{% extends "main.html" %}

{% block title %}
    Character Sheet
{% endblock %}

{% block main %}
      <div>
          <div>Name</div>
          <div>{{ character["name"] }}</div>
          <div>Race</div>
          <div>{{ character["race"] }}</div>
          <div>Class</div>
          <div>{{ character["cha_class"] }}</div>
          <div>Level</div>
          <div>{{ character["level"] </div>
          <div>Current Experience</div>
          <div>{{ character["experience"] }}</div>
          <div>Alignment</div>
          <div>{{ character["alignment_lc"] }}{{ character["alignment_ge"] }}</div>
        </div>
        <div>
          <div>Height</div>
          <div>{{ character["height"] }}</div>
          <div></div>
          <div>Weight</div>
          <div>{{ character["weight"] }}</div>
          <div>Eye Colour</div>
          <div>{{ character["eye_colour"] }}</div>
          <div> Hair Colour</div>
          <div>{{ characzers["hair_colour"] }}</div>
          <div>Sex</div>
          <div>{{ character["sex"] }}</div>
          <div>Age</div>
          <div>{{ character["age"] }}</div>
          <div>Handedness</div>
          <div>{{ character["handedness"] }}</div>
          <div>Strength</div>
          <div>{{ character["strength"] }}</div>
          <div>Dexterity</div>
          <div>{{ character["dexterity"] }}</div>
          <div>Constitution</div>
          <div>{{ character["constitution"] }}</div>
          <div>Intelligence</div>
          <div>{{ charcaters["intelligence"] }}</div>
          <div>Wisdom</div>
          <div>{{ character["wisdom"] }}</div>
          <div>Charisma</div>
          <div>{{ character["charisma"]</div>
          <div>Honour</div>
          <div>{{ character["honour"] }}</div>
        </div>
        <div>
          <div><h3>Academic Skills</h3></div>
          <div>Anatomy</div>
          <div>{{ character["anatomy"]</div>
          <div>Animal Lore</div>
          <div>{{ character["animal_lore"] }}</div>
          <div>Appraisal</div>
          <div>{{ character["appraisal"] }}</div>
          <div>Arcana</div>
          <div>{{ character["arcana"] }}</div>
          <div>Botany & Forestry</div>
          <div>{{ character["botany_forestry"] }}</div>
          <div>Engineering</div>
          <div>{{ character["engineering"] }}</div>
          <div>History</div>
          <div>{{ character["history"] }}</div>
          <div>Mathematics</div>
          <div>{{ character["mathematics"] }}</div>
          <div>Religion</div>
          <div>{{ character["religion"] }}</div>
        </div>
        <div>
          <div><h3>Career Skills</h3></div>
          <div>Blacksmithing</div>
          <div>{{ character["blacksmithing"] }}</div>
          <div>Farming</div>
          <div>{{ character["agriculture"] }}</div>
          <div>Commerce</div>
          <div>{{ character["commerce"] }}</div>
          <div>Jeweler</div>
          <div>{{ character["jeweler"] }}</div>
          <div>Leather Working</div>
          <div>{{ character["leather_working"] }}</div>
          <div>Masonry</div>
          <div>{{ character["masonry"] }}</div>
          <div>Metal Working</div>
          <div>{{ character["metal_working"] }}</div>
          <div>Sailing</div>
          <div>{{ character["sailing"] }}</div>
          <div>Tailoring</div>
          <div>{{ character["tailoring"] }}</div>
          <div>Woodworking</div>
          <div>{{ character["woodworking"] }}</div>
        </div>
        <div>
          <div><h3>General Skills</h3></div>
          <div>Acrobatics</div>
          <div>{{ character["acrobatics"] }}</div>
          <div>Culture</div>
          <div>{{ character["culture"] }}</div>
          <div>Dancing</div>
          <div>{{ character["dancing"] }}</div>
          <div>First Aid</div>
          <div>{{  character["first_aid"] }}</div>
          <div>Manual Labour</div>
          <div>{{ character["manual_labour"] }}</div>
          <div>Observation</div>
          <div>{{ character["observation"] }}</div>
          <div>Sleight</div>
          <div>{{ character["sleight"] }}</div>
          <div>Sneak</div>
          <div>{{ character["sneak"] }}</div>
          <div>Social Interaction</div>
          <div>{{ character["social_interaction"] }}</div>
        </div>
        <div>
          <div><h3>Languages</h3></div>
          <div>Common</div>
          <div>{{ character["common"] }}</div>
          <div>Dwarvish</div>
          <div>{{ character["dwarven"] }}</div>
          <div>Elvish</div>
          <div>{{ character["elvish"] }}</div>
          <div>Gnomeish</div>
          <div>{{ character["gnomeish"] }}</div>
          <div>Halfling</div>
          <div>{{ character["halfling"] }}</div>
        </div>
      </div>
{% endblock %}
